# profiling logs
**/profile_logs/

# local Feishu credentials and generated configs
infinitrain/scripts/feishu_writer/token.json
infinitrain/scripts/feishu_writer/new_token.json

# Python caches
**/__pycache__/

# PyTorch checkpoints
baseline/pytorch/scripts/*.bin
